{% extends "base.html" %}

{% block title %}
    Método de pagamento | {{ block.super }}
{% endblock title %}

{% block container %}
        <div class="page-header">
			<h1>Escolha a forma de pagamento</h1>
        </div>
        <div class="row">
        <p> Pedido #{{ order.pk }}</p>
            <div class="col-md-8 col-md-offset-2">
                <p>Deposite o dinheiro na conta: 818.3003.0101.222.20303 e dê três mortais para trás para confirmar o pedido</p>
            </div>
        </div>
{% endblock container %}